.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #0a0a0a;
    padding: 12px;
  
}

.footer span { 
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 100;
    font-family: 16px;
}

@media(min-width:768px){
    .footer {
       justify-content: center;
    }
}