aside {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    z-index: 9999;
}

aside.show {
    transform: translateX(0);
}

aside a {
    padding: 12px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

aside a:hover {
    color: #D3E97A;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in;
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
}

.show-overlay {
    opacity: 1;
    pointer-events: all;
}
