.about { 
    background-color: black;
    padding: 12px;
}

h2 { 
    color: white;
    padding: 5px 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
}

.subtitle { 
    color: white;
    font-family: "Manrope", sans-serif;
    padding: 12px 0px;
}

p { 
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 100px;
    line-height: 1.5rem;
    padding: 12px 0px;
}

.about img { 
    margin: 12px 0px;
    
}

.about-links { 
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(min-width:768px) { 
    .about { 
       width: 80%;
       margin: auto;
       text-align: center;

    }
    
    .about-links { 
    justify-content: center;
    align-items: center;
    }
}


@media(min-width:1280px) { 
    .about { 
       width: 1024px;
    }
    
    .about-container { 
        display: flex;
        justify-content: space-between;
        text-align: start;
        width: 1024px;
      
    }

    .description { 
        width: 550px;
        text-align: start;
    }

    .about img { 
        width: 1024px;
        height: 600px;
    }

    .about-links ion-icon{
        display: block; 

    }
    .about-links {
         justify-content: flex-start;

    }
}

