.projects { 
    background-color: black;
}

.projects-content { 
    display: flex; 
    flex-direction: column;
    padding: 12px;
    background-color: black;
}

.projects h2 { 
    font-size: 43px;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 30px;
    color: white;
}

.projects p { 
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #FAF9F6;
    font-weight: lighter;

}

.projects .card-container { 
    margin-top: 30px;
    margin: auto;
}

.projects h3 { 
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    color: #D3E97A;
    padding-top:30px;
    text-decoration: underline;

}




@media(min-width:768px){
    .projects-content { 
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card { 
        align-items: center;
    }

    .projects h3 {
        margin: auto;        
    }
}


@media(min-width:1024px){

    .projects { 
        width: 1024px;
        margin: auto;
    }

    .tittle-container{
        width: 100%;
        text-align: left;
        width: 100%;
    }
        
    .projects-content { 
        text-align: left;
        width: 100%;
    }

    .tittle-container p { 
        width: 600px;
    }
    .projects .card { 
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .project-info { 
        width: 500px;
        padding: 20px;
      
    }

    .projects img { 
        width: 450px;
        height: 450px;
    }

    .tittle-container { 

    width:920px ;
  }

}


@media(min-width:1280px){

    .projects-content { 
    width: 1024px;
    margin: auto;
  }
}

