.projects { 
    background-color: black;
    
}

.projects-content { 
    display: flex; 
    flex-direction: column;
    padding: 12px;
    background-color: black;

}

.projects h2 { 
    font-size: 43px;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 30px;
    color: white;
}

.projects p { 
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #FAF9F6;
    font-weight: lighter;

}

.projects .card-container { 
    margin-top: 30px;
    margin: auto;
}

.projects .card { 
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-container img { 
    background-color: #484848;
    padding: 10px;
}

.projects h3 { 
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    color: #D3E97A;
    padding-top:30px;
    text-decoration: underline;

}

.project-info { 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0px 10px;
    
}


.tittle-project-info { 
    font-family: "Manrope";
    font-size: 16px;
    margin-top: 20px;
}

.year-container{ 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0px;
}

.role-container { 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 12px 20px;
    width: 100%;
}

.projects a { 
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    font-family: "Manrope";
    text-decoration: underline;
    font-size: 14px;
    color: #D3E97A;
}


.project-links ion-icon { 
    font-size: 14px;
    color: #D3E97A;
}

.project-links .links { 
    gap: 10px;

}


@media(min-width:768px){
    .projects-content { 
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card { 
        align-items: center;
    }
}


@media(min-width:1024px){


    .tittle-container{
        width: 100%;
        text-align: left;
        width: 100%;
    }
        
    .projects-content { 
        text-align: left;
        width: 100%;
    }
    .projects .card { 
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .project-info { 
        width: 500px;
        padding: 20px;
      
    }

    .projects img { 
        width: 450px;
        height: 450px;
    }
}


@media(min-width:1280px){

    .projects-content { 
    width: 1024px;
    margin: auto;
  }
}

